{% block title %}
    동의서
{% endblock %}

{% block content %}

    <div class="panel panel-default">
    <ol>
        <li>나는 본 연구의 설명문을 읽었으며 담당 연구원과 이에 대하여 의논하였습니다.</li>
        <li>나는 위험과 이득에 관하여 들었으며 나의 질문에 만족할 만한 답변을 얻었습니다.</li>
        <li>나는 이 연구에 참여하는 것에 대하여 자발적으로 동의합니다.</li>
        <li>나는 이 연구에서 얻어진 나에 대한 정보를 현행 법률과 기관생명윤리위원회 규정이 허용하는 범위 내에서 연구자가 수집하고 처리하는데 동의합니다.</li>
        <li>나는 담당 연구자나 위임 받은 대리인이 연구를 진행하거나 결과 관리를 하는 경우와 연구기관, 연구비지원기관 및 보건복지부 지정 공용기관생명윤리위원회가 실태 조사를 하는 경우에는 비밀로 유지되는 나의 개인 신상 정보를 직접적으로 열람하는 것에 동의합니다.</li>
        <li>나는 언제라도 이 연구의 참여를 철회할 수 있고 이러한 결정이 나에게 어떠한 해도 되지 않을 것이라는 것을 압니다.</li>
        <li>아래의 동의여부에 표시하는 것으로써 내가 이 연구에 참여함을 동의함 혹은 거부함을 뜻합니다.</li>
    </ol>

    </div>

    <button class="btn btn-primary btn-large active">
        연구참여에 동의합니다. (거부할 경우에는 이 창을 닫고 연구참여를 중단해주십시오.)
    </button>
{% endblock %}